* {
	margin: 0px;
	font-family: Microsoft YaHei !important;
}
input{
       border:1px solid #909090;
       -webkit-transition: box-shadow 0.30s ease-in-out; 
}
input:FOCUS{
	 outline:none;
     border:#87C6F9 1px solid;
     box-shadow: 0 0 8px rgba(103, 166, 217, 1);
}

body {
	background-color: #ffffff;
	cursor: url("img/click.cur");
}

#header {
	width: 100%;
	height: 30px;
	background: black;
	color: white;
	font-size: 16px;
	line-height:30px;
	position: relative;
	text-align: right;
}

#header > a {
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
	vertical-align: top;
}
#header p{
	cursor: pointer;
}

#search {
	width: 100%;
	position: relative;
	text-align: center;
}

#search >.logo {
	margin-top: 70px;
}


input[name='keyword'] {
	width: 400px;
	height: 35px;
	font-size: 20px;
}

input[name='go'] {
	width: 120px;
	font-size: 30px;
	top:-3px;
	line-height:35px;
	padding: 0px !important;
	color:#CCCCCC !important;
}

input[name='go']:hover{
	color:#1AB9FB !important;
}

.sp{
	width: 2px;
	height:90%;
	background-color: gray;
	display: inline-block;
	vertical-align: bottom;
}

#hotword{
	margin:auto;
	width: 526px;
	height:120px;
	border:1px solid #CCCCCC;
}

#hotword span{
	line-height: 30px;
	margin:5px;
	color: red;
	display: inline-block;
	cursor:pointer;
	text-decoration: underline;
}

#hotword p{
	line-height: 30px;
	padding-left:5px;
	color: black;
	background: #cccccc;
}
#advance{
	margin:auto;
	width: 525px;
	display:none;
	border-top: 2px solid #1AB9FB ;
	margin-top: 10px;
}
#advance span{
	color:#0000EE;
}
#advance input{
	line-height:28px;
	width:177px;
	font-size: 20px;
}
#advance table{
	margin-top: 10px;
	width:100%;
	height:50px;
}
#advance table tr{
	height:18px;
}
